<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.app_control.Activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:stopWithTask="true" />


        <activity android:name=".RobotActivity"
            android:label="Manual Control"/>
        <activity android:label="Map" android:name=".ViewMapActivity" />
        <activity android:label="Schedule" android:name=".ScheduleActivity" />
        <activity android:label="Battery" android:name=".PowerManageActivity" />
        <activity android:label="Add Schedule" android:name=".AddScheduleActivity" />
        <activity android:label="Edit Schedule" android:name=".EditScheduleActivity"></activity>
    </application>

</manifest>